/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: #f3e0dc;
    background: #b54925e0;
    height: 4%;
}
.nav-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
    justify-content: center;
}
.nav-logo img {
    max-height: 40px;
    margin-right: 10px;
}
.nav-logo p{
    color: #f3e0dc;
    font-size: 17px;
    font-weight: 500;
}
.nav-logo img{
    cursor: pointer;
}
.nav-menu {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-right: 40px;
}
.nav-menu li {
    cursor: pointer;
}

.menu{
    width: 50px;
    height: 50px;
    background: red;
    display: none;
}
  /* Media Query for responsiveness */
@media (max-width: 500px) {
/* .navbar {
    flex-direction: row;
    text-align: center;
} */

.nav-logo {
    margin-bottom: 20px;
}
.menu{
    display: block;
}

.nav-menu {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    display: none;
}
}
